In [40]:
import pandas as pd
df = pd.read_csv("language_profile.csv")

In [45]:
df.head()

     AEnglish_red    ASpanish_red ASpanish_red copia
0  ('_th', 29132)  ('_de', 26725)     ('_de', 26725)
1  ('the', 22025)  ('os_', 20270)     ('os_', 20270)
2  ('he_', 19224)  ('de_', 18977)     ('de_', 18977)
3  ('ion', 10802)  ('_la', 15530)     ('_la', 15530)
4  ('on_', 10151)  ('as_', 12321)     ('as_', 12321)

In [46]:
dic_language_profile = df.to_dict()

In [64]:
a=dic_language_profile["ASpanish_red"][0]
a

"('_de', 26725)"

In [68]:
a.replace(["(",")"], "")

TypeError: Can't convert 'list' object to str implicitly